html.light {
  --sidebar-width: 302px;

  /* op LIGHT THEME VARIABLES */
  --op-surface: #ffffff;
  --op-surface-subdued: #f9fafb;
  --op-surface-hovered: #f3f4f6;
  --op-surface-pressed: #e4e4e7;
  --op-surface-active: #e5e7eb;
  --op-surface-input: #ffffff;
  --op-surface-disabled: #f9fafb;

  --op-surface-primary: #6864d4;
  --op-surface-primary-subdued: #f3eeff;
  --op-surface-primary-hovered: #7f7aff;
  --op-surface-primary-pressed: #413b90;
  --op-surface-primary-active: #e1daff;
  --op-surface-primary-disabled: #e3dfff;

  --op-surface-secondary: #944170;
  --op-surface-secondary-subdued: #ffecf2;
  --op-surface-secondary-hovered: #b1598a;
  --op-surface-secondary-pressed: #772957;
  --op-surface-secondary-active: #fffbff;

  --op-surface-tertiary: #0f0f11;
  --op-surface-tertiary-hovered: #27272a;
  --op-surface-tertiary-pressed: #020408;

  --op-surface-critical: #cc4c4a;
  --op-surface-critical-subdued: #ffdad7;
  --op-surface-critical-hovered: #aa3334;
  --op-surface-critical-pressed: #8a1b1f;

  --op-surface-warning: #ce7e2a;
  --op-surface-warning-subdued: #ffeee2;

  --op-surface-success: #4e8437;
  --op-surface-success-subdued: #f5fff2;

  /* TEXT */
  --op-text: #111827;
  --op-text-strong: #4b5563;
  --op-text-soft: #71717a;
  --op-text-disabled: #d1d5db;

  --op-text-critical: #aa3334;
  --op-text-warning: #af650f;
  --op-text-success: #4e8437;
  --op-text-secondary: #944170;

  --op-text-on-primary: #fffbff;
  --op-text-primary: #6864d4;
  --op-text-on-tertiary: #fffbff;

  /* ICONS */
  --op-icon: #111827;
  --op-icon-strong: #4b5563;
  --op-icon-soft: #71717a;
  --op-icon-disabled: #d1d5db;

  --op-icon-critical: #aa3334;
  --op-icon-warning: #af650f;
  --op-icon-success: #4e8437;
  --op-icon-secondary: #944170;

  --op-icon-on-primary: #fffbff;
  --op-icon-primary: #6864d4;
  --op-icon-on-tertiary: #fffbff;

  /* BORDERS */

  --op-border: #e4e4e7;
  --op-border-critical: #8a1b1f;
  --op-border-warning: #8e4f00;
  --op-border-success: #376a20;
  --op-border-primary: #5954a9;
  --op-border-secondary: #772957;
  --op-border-tertiary: #3f3f46;

  --op-border-focus: #7f7aff;

  /* GENERIC */
  --op-white: #fff;
  --op-black: #000;
  --op-transparent: #0000;

  /* SHADOWS */
  --op-shadow-025: 0px 1.3333330154418945px 4px 0.25px rgba(161, 161, 170, 0.33);
  --op-shadow-050: 0px 2.666670083999634px 8px 0.5px rgba(161, 161, 170, 0.33);
  --op-shadow-075: 0px 4px 12px 0.75px rgba(161, 161, 170, 0.33);
  --op-shadow-100: 0px 5.333330154418945px 16px 1px rgba(161, 161, 170, 0.33);
  --op-shadow-200: 0px 10.666999816894531px 32px 2px rgba(161, 161, 170, 0.33);
}

html.dark {
  --sidebar-width: 302px;

  --op-surface: #18181b;
  --op-surface-subdued: #27272a;

  --op-surface-hovered: #3f3f46;
  --op-surface-pressed: #070708;
  --op-surface-active: #1f2937;
  --op-surface-input: #020408;
  --op-surface-disabled: #18181b;

  --op-surface-primary: #6864d4;
  --op-surface-primary-subdued: #1a182f;
  --op-surface-primary-hovered: #7f7aff;
  --op-surface-primary-pressed: #413b90;
  --op-surface-primary-active: #393568;
  --op-surface-primary-disabled: #464287;

  --op-surface-secondary: #944170;
  --op-surface-secondary-subdued: #2b041e;
  --op-surface-secondary-hovered: #b1598a;
  --op-surface-secondary-pressed: #772957;
  --op-surface-secondary-active: #3c0028;

  --op-surface-tertiary: #ffffff;
  --op-surface-tertiary-hovered: #f4f4f5;
  --op-surface-tertiary-pressed: #e5e7eb;

  --op-surface-critical: #aa3334;
  --op-surface-critical-subdued: #310509;
  --op-surface-critical-hovered: #cc4c4a;
  --op-surface-critical-pressed: #68000c;

  --op-surface-warning: #8e4f00;
  --op-surface-warning-subdued: #2e1500;

  --op-surface-success: #376a20;
  --op-surface-success-subdued: #071703;

  /* TEXT */
  --op-text: #f4f4f5;
  --op-text-strong: #d4d4d8;
  --op-text-soft: #a1a1aa;
  --op-text-disabled: #52525b;

  --op-text-critical: #ed6561;
  --op-text-warning: #ce7e2a;
  --op-text-success: #669f4f;
  --op-text-primary: #7f7aff;

  --op-text-on-primary: #f4f4f5;
  --op-text-secondary: #cf72a4;
  --op-text-on-tertiary: #111827;

  /* ICONS */
  --op-icon: #f4f4f5;
  --op-icon-strong: #d4d4d8;
  --op-icon-soft: #a1a1aa;
  --op-icon-disabled: #52525b;

  --op-icon-critical: #ed6561;
  --op-icon-warning: #ce7e2a;
  --op-icon-success: #669f4f;
  --op-icon-primary: #7f7aff;

  --op-icon-on-primary: #f4f4f5;
  --op-icon-secondary: #cf72a4;
  --op-icon-on-tertiary: #111827;

  /* BORDERS */

  --op-border: #3f3f46;
  --op-border-critical: #ed6561;
  --op-border-warning: #ce7e2a;
  --op-border-success: #669f4f;
  --op-border-primary: #8b87e0;
  --op-border-secondary: #cf72a4;
  --op-border-tertiary: #e4e4e7;

  --op-border-focus: #beb3ff;

  /* GENERIC */
  --op-white: #fff;
  --op-black: #000;
  --op-transparent: #0000;

  --op-shadow-025: 0px 1.3333330154418945px 4px 0.25px rgba(0, 0, 0, 0.33);
  --op-shadow-050: 0px 2.666670083999634px 8px 0.5px rgba(0, 0, 0, 0.33);
  --op-shadow-075: 0px 4px 12px 0.75px rgba(0, 0, 0, 0.33);
  --op-shadow-100: 0px 5.3333330154418945px 16px 1px rgba(0, 0, 0, 0.33);
  --op-shadow-200: 0px 10.666999816894531px 32px 2px rgba(0, 0, 0, 0.33);
}
