/* reset */
.outpost-search *,
.outpost-search *::after,
.outpost-search *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 0.875rem;
}

/* variables */

.outpost-search {
  --width: 720px;
  --height: 540px;
  --background: var(--op-surface);
  --header-height: 52px;
  --body-height: 52px;
}

/* styles */

.outpost-search {
  width: var(--width);
  height: var(--height);
  margin: 0 auto;
  border: 1px solid var(--op-border);
  box-shadow: var(--op-shadow-050);
  border-radius: 0.5rem;
  overflow: hidden;
  display: grid;
  grid-template-rows: max-content 1fr;
}

.outpost-search:focus {
  outline: none;
}

/***************** HEADER ****************************/

.outpost-search .header {
  border-bottom: 1px solid var(--op-border);
  height: var(--header-height);
  gap: 0.75rem;
  align-items: center;
  padding: 0 1rem;
  position: relative;
  display: grid;
  grid-template-columns: max-content 1fr;
}

.outpost-search .header form {
  height: 100%;
  width: 100%;
}

.outpost-search .header input {
  border: none;
  height: 100%;
  width: 100%;
  inset: 0;
  z-index: 1;
}

.outpost-search .header .icon {
  z-index: 1;
}

.outpost-search .header input:active,
.outpost-search .header input:focus {
  outline: none;
}

.outpost-search .header .title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.outpost-search .header .refresh {
  margin-left: auto;
  border: none;
  background: transparent;
}
.outpost-search .header .refresh:focus {
  outline: none;
}

/***************** BODY ****************************/

.outpost-search .body {
  padding: 1.25rem;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.outpost-search .body .messages {
  display: grid;
  gap: 1rem;
  overflow-x: hidden;
}

.outpost-search .body .user {
  padding: 0.75rem;
  border: 1px solid var(--op-border);
  background-color: var(--op-surface);
  max-width: 70%;
  margin-left: auto;
  width: max-content;
  border-radius: 0.25rem;
}

.outpost-search .body .agent {
  padding: 0.75rem;
  border: 1px solid var(--op-border);
  background-color: var(--op-surface-subdued);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/***************** FOOTER ****************************/

.outpost-search .footer {
  padding: 1.2rem 1rem;
}

.outpost-search .footer input {
  width: 100%;
  border: 1px solid var(--op-border);
  height: 2.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.outpost-search .footer input:focus {
  outline: none;
}

/* markdown elements */

.outpost-search .agent ul,
.outpost-search .agent ol {
  list-style: inside;
}

.outpost-search .agent ol {
  list-style-type: decimal;
}
/* 
.outpost-search .agent {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
} */

.outpost-search .agent {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
