/* reset */
.outpost-search *,
.outpost-search *::after,
.outpost-search *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 0.875rem;
}

.outpost-search :is(button, button:active, button:focus) {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.outpost-search :is(input, input:active, input:focus) {
  outline: none;
  border: 1px solid var(--op-border);
}

.outpost-search .icon {
  z-index: 1;
}

/* variables */

.outpost-search {
  --width: 720px;
  --height: 540px;
  --background: var(--op-surface);
  --header-height: 52px;
  --body-height: 52px;
}

/* styles */

.outpost-search {
  max-width: var(--width);
  height: var(--height);
  margin: 0 auto;
  border: 1px solid var(--op-border);
  box-shadow: var(--op-shadow-050);
  border-radius: 0.5rem;
  overflow: hidden;
  display: grid;
  grid-template-rows: max-content 1fr;
}

.outpost-search:focus {
  outline: none;
}

/***************** HEADER ****************************/

.outpost-search .header {
  border-bottom: 1px solid var(--op-border);
  height: var(--header-height);
  gap: 0.75rem;
  align-items: center;
  padding: 0 1rem;
  position: relative;
  display: grid;
  grid-template-columns: max-content 1fr;
  background-color: var(--op-surface-subdued);
}

.outpost-search .header form {
  height: 100%;
  width: 100%;
}

.outpost-search .header input {
  border: none;
  height: 100%;
  width: 100%;
  inset: 0;
  z-index: 1;
  background-color: var(--op-surface-subdued);
}

.outpost-search .header .controls {
  position: absolute;
  right: 1.25rem;
  top: 50%;
  translate: 0 -50%;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.outpost-search .header .mode {
  background-color: var(--op-surface-active);
  padding: 0.25rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.outpost-search .header .mode button {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.outpost-search .header .mode button.active {
  background-color: var(--op-surface);
  box-shadow: 0px 1.33333px 4px 0.25px rgba(161, 161, 170, 0.33);
}
.outpost-search .header .refresh {
  height: 1rem;
}

.outpost-search .header .title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
}

/***************** BODY ****************************/

.outpost-search .body {
  padding: 1.25rem;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.outpost-search .body .messages {
  overflow-x: hidden;
  line-height: 1.25rem;
}

.outpost-search .body .user {
  background-color: var(--op-surface);
  max-width: 70%;
  width: max-content;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.outpost-search .body .user:not(:first-of-type) {
  padding-top: 2rem;
}

.outpost-search .body .comet {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-bottom: 2rem;
  padding-top: 0.75rem;
}

.outpost-search .body .messages .comet:not(:last-child) {
  border-bottom: 1px solid var(--op-border);
}

.outpost-search .body .comet.stream {
  border-bottom: none;
}

.outpost-search .body .comet.error {
  border-bottom: none;
  color: var(--op-surface-critical);
  font-weight: 600;
}

.outpost-search .body .loading-icon {
  height: 0.5rem;
  margin-top: 1rem;
}

/***************************** FOOTER *************************************/

.outpost-search .footer {
  padding: 1.2rem 1rem;
}

.outpost-search .footer .search-container {
  position: relative;
  padding: 0.5rem;
  width: 100%;
  height: 2.25rem;
  border-radius: 0.5rem;
  border: 1px solid var(--op-border);
  overflow: hidden;
}

.outpost-search .footer input {
  border: none;
  height: 100%;
  width: 100%;
}

.outpost-search .footer .search-container button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  translate: 0 -50%;
  height: 100%;
  padding: 0.5rem 0;
  background-color: var(--op-surface);
}

.outpost-search .footer .search-container button .icon {
  height: 1rem;
  position: relative;
}

/**************************** MARKDOWN *************************************/

.outpost-search .agent ul,
.outpost-search .agent ol {
  list-style: inside;
}

.outpost-search .agent ol {
  list-style-type: decimal;
}
/* 
.outpost-search .agent {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
} */

.outpost-search .agent {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
